.App {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: auto;
  text-align: center;
}

.App .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.App #inputContainer {
  margin: auto 1em auto 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: Grey;
  height: auto;
  width: 75%;
  max-width: 750px;
  border-radius: 10px;
}

.App input {
  margin: 1em 1em 0.5em 1em;
  height: 2rem;
  width: 55%;
  max-width: 500px;
  border-radius: 10px;
  padding: .25em;
}

.App #addButton {
  height: 2rem;
  width: 35%;
  max-width: 85px;
  margin: .5em 1em 1em 1em;
  border-radius: 10px;
  border: green solid 2px;
  background: #94ad6e;
}

.App ul {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2em;
}

.App ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.App #deleteButton {
  padding: .25rem;
  margin-left: 1em;
  border-radius: 10px;
  border: #813838 2px solid;
  background: #c76c6c;
}